<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leting.neteaseadapter">

    <application
        android:allowBackup="true"
        android:label="NetEase PiP Adapter"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="强制网易云音乐IoT版在当前VirtualDisplay上启动Activity，防止触摸点击跳转回主车机屏" />

        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>

</manifest>
